<div class="container-fluid p-5 text-white">
    <h3 class="text-center">Weather App</h3>
    <form (ngSubmit)="onSubmit(weatherForm)" #weatherForm="ngForm" class="mb-4">
        <div class="row mb-4"></div>
        <div class="row mb-3">
            <div class="col-9 col-sm-10 col-md-10 col-lg-11">
                <input type="text"
                    class="form-control bg-dark border-top-0 border-left-0 border-right-0 rounded-0 text-white"
                    id="city" placeholder="Search for a city" name="city" [(ngModel)]="searchCity" #city="ngModel"
                    required>
            </div>
            <div class="col-3 col-sm-2 col-md-2 col-lg-1">
                <button class="btn btn-success" type="submit" [disabled]="!weatherForm.form.valid">Submit</button>
            </div>
        </div>
        <div class="d-flex">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1" name="unit" [checked]="isUnitMetric"
                    (change)="isUnitMetric = !isUnitMetric; toggleTempUnit()">
                <label class="custom-control-label" for="switch1">{{tempSwitchText}}</label>
            </div>
        </div>
        <div class="row mb-2" [hidden]="city.valid || city.pristine"></div>
        <div class="row" [hidden]="city.valid || city.pristine">
            <div class="col pl-4">
                <div class="text-white">
                    City is required
                </div>
            </div>
        </div>
    </form>
    <div class="card-columns">
        <div class="card rounded-0" *ngFor="let city of citiesWeatherList">
            <app-city-card-component [city]="city" [tempUnitText]="tempUnitText" (removeCityEvent)="removeCity($event)">
            </app-city-card-component>
        </div>
    </div>
</div>